ul.tree {

    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
	padding:0px;
    margin: 0px;
}

ul.tree li {

    cursor: pointer;
    list-style: none;
    margin-left: 15px;
    white-space: nowrap;
/*    border-top: 2px solid #fff; */
/*    background-color: #fff; */
}

ul.tree a {
    background-repeat: no-repeat;
    background-position: left top;
	padding-left:18px;

    color: #333;
    display: block;
}

ul.tree a.hover {
    background-repeat: no-repeat;
    background-position: left top;
	padding-left:18px;

    background-color: #BFD;
	color: black;
}

ul.tree a.active {
    background-repeat: no-repeat;
    background-position: left top;
	padding-left:18px;

    background-color: #00c000;
	color: white;
}

ul.tree a.active.hover {
    background-repeat: no-repeat;
    background-position: left top;
	padding-left:18px;

    background-color: #687;
}

ul.tree .insert {

    border-top-color: #BDF;
}

ul.tree .end {

    height: 2px; 
    line-height: 2px; /* for opera */
    font-size: 0px; /* for ie */
}

ul.tree .end a.hover {

/*    background: #fff; */
}

ul.tree a.collapsed {

    width: 16px;
    height: 16px;
    background: url(images/collapsed.png) left top no-repeat;
    float: left;
}

ul.tree a.expanded {

    width: 16px;
    height: 16px;
    background: url(images/expanded.png) left top no-repeat;
    float: left;
}

.tree li.wait { background: url(images/spinner.gif) left top no-repeat; }

